Kvantum/
Microsoft/
Thunar/
ags/
autostart/
btop/themes/
cava/shaders/
dconf/
dolphinrc
go/
gtk-3.0/
hypr/
kitty/
qt5ct/
qt6ct/
rofi/
simple-update-notifier/
spicetify/
spotify/
swappy/
swaync/
systemd/
teams/
user-dirs.dirs
user-dirs.locale
wal/
wallust/
waybar/
wlogout/
xfce4/
zellij/
nvim/
musikcube/1
musikcube/log.txt
musikcube/cache
gh/
vesktop/
