XTerm*VT100.Translations: BackSpace:string(\177) 
xterm*faceName: CozetteVector
xterm*faceSize: 11
xterm*savelines: 16384
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*foreground: rgb:b5/b4/c9
xterm*background: rgb:19/1c/25
xterm*color0: rgb:2e/31/3d
xterm*color1: rgb:cf/81/64
xterm*color2: rgb:76/a0/65
xterm*color3: rgb:ab/92/4c
xterm*color4: rgb:82/96/b0
xterm*color5: rgb:a1/8d/af
xterm*color6: rgb:65/9e/a2
xterm*color7: rgb:b5/b4/c9
xterm*color8: rgb:5b/5f/71
xterm*color9: rgb:fe/9f/7c
xterm*color10: rgb:92/c4/7e
xterm*color11: rgb:d2/b4/5f
xterm*color12: rgb:a0/b9/d8
xterm*color13: rgb:c6/ae/d7
xterm*color14: rgb:7d/c2/c7
xterm*color15: rgb:f0/ec/fe
xterm*rightScrollBar: true
xterm*ScrollBar: true
