[Desktop Entry]
Name[en_GB]=Thunar File Manager
Name=Thunar File Manager
Comment[en_GB]=Browse the filesystem with the file manager
Comment=Browse the filesystem with the file manager
GenericName[en_GB]=File Manager
GenericName=File Manager
Keywords[en_GB]=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Exec=thunar %U
Icon=org.xfce.thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;
Actions=open-home;open-computer;open-trash;
X-XFCE-Source=file:///usr/share/applications/thunar.desktop

[Desktop Action open-home]
Name[en_GB]=Home
Name=Home
Exec=thunar %U

[Desktop Action open-computer]
Name[en_GB]=Computer
Name=Computer
Exec=thunar computer:///

[Desktop Action open-trash]
Name[en_GB]=Wastebasket
Name=Trash
Exec=thunar trash:///
