# Text editor to open config file.
PREFERRED_EDITOR=micro

#Number of colors in the game (=>stacks of blocks). Acceptable values: min 3, max 7. 
COLORS=5

#Height of stacks, in number of blocks (lines).
BLOCKS=6

# Keys to move left & right.
# Acceptable values for navigation keys: 0-9, lower case letters EXCEPT: n, q, m.
#No upper-case letters.
# Arrow keys are hardcoded and work in all options.

NAV_LEFT='h'
NAV_RIGHT='l'
